{{!--Return HTML elment --}}
{{!-- <b>
  <span style='color:{{@indexRouteColor}};'>
  {{@indexRouteAuthor}}
  </span>
</b>
<p>MarkDownStyle Test</p>
{{log 'color' @color }} --}}
{{log "MyStyle Called"}}
<p>Hello From MyStyleComponent</p>